#banner
    .banner_content
        %h1 File Cabinet
        %p You life's work
        %button= link_to 'Enter', new_user_registration_path 

#callouts 
    .callout_inner
        .wrapper
            .callout
                %h2 Organize
                %p I'm baby art party yuccie glossier vaporware synth tote bag ramps. Echo park ethical direct trade tofu. Plaid kitsch kinfolk food truck street art four dollar toast, green juice letterpress ennui put a bird on it yr chicharrones knausgaard tumeric. Godard brunch bushwick hammock chambray hell of mumblecore keffiyeh PBR&B live-edge tumblr keytar synth. Lumbersexual chicharrones man braid meh.

#button_cta
    .wrapper
        %h2 Go ahead  
        %br
        %button= link_to 'Join Now', new_user_registration_path
